# VITE_SELLER_URL=http://localhost:8001
# VITE_API_GATEWAY_URL=http://localhost:3000
# VITE_AUTH_SERVICE_URL=http://localhost:3003
# VITE_PRODUCT_SERVICE_URL=http://localhost:3001
# VITE_ACCOUNT_SERVICE_URL=http://localhost:3005

VITE_SELLER_URL=http://34.58.241.34:8001
VITE_API_GATEWAY_URL=http://34.58.241.34:3000
VITE_AUTH_SERVICE_URL=http://34.58.241.34:3003
VITE_PRODUCT_SERVICE_URL=http://34.58.241.34:3001
VITE_ACCOUNT_SERVICE_URL=http://34.58.241.34:3005

