.CAysXD,.xNsbSg {
    flex-direction: column
}

.CAysXD {
    display: flex;
    min-height: 100%;
    position: relative
}

.xNsbSg {
    overflow: visible
}

.raB_LE {
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    height: 80px;
    padding: 22px 30px
}

.raB_LE,.xNsbSg {
    display: flex
}

.raB_LE {
    align-items: center
}

.X2Fl2i {
    flex: 1
}

._4CpLGW {
    color: #333;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem
}

._MjOlA,W_MyuV {
    font-size: .875rem
}

._MjOlA {
    color: #555;
    line-height: 1.0625rem;
    margin-top: 3px
}

.DXtWLQ {
    margin-left: 10px
}

.shopee-button-solid--primary {
    color: #fff
}

WDsCi_ {
    width: 100%
}

.WDsCi_ {
    justify-content: space-between
}

.zvkoi4 {
    margin-right: 10px
}

.WDsCi_,.zvkoi4 {
    align-items: center;
    display: flex
}

.shopee-svg-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    position: relative
}

.EDzeF9 {
    background: #f5f5f5
}

.GLBATX {
    background: #fff;
    padding: 12px 30px 0
}

.acy2u2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 8px
}

.inZjsh {
    padding: 18px 0 20px
}

.Oy0a7C {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.09);
    display: flex
}

.Ln8BPM {
    min-width: 0;
    width: 100%
}

.ZP_sH4 {
    margin-bottom: 4px
}

.EhiHrl {
    justify-content: space-between
}

.PvQ82w {
    margin-right: 8px
}

.Bo_fXH {
    flex-grow: 1;
    overflow-x: hidden
}

W_MyuV {
    line-height: 1.25rem
}

.VRzhdb,.W_MyuV {
    color: rgba(0,0,0,.54)
}

.Bo_fXH,.EhiHrl,.PoI6l8,.oQEeks {
    display: flex
}

.nJYjiY {
    font-size: .875rem;
    font-weight: 400;
    height: 40px;
    padding: 0 20px
}

.shopee-button-solid--primary {
    background: #ee4d2d;
    outline: 0;
    overflow: visible;
    position: relative
}

.JwDIHs {
    padding-top: 4px
}

.oQEeks {
    flex-basis: 40px
}

.FIxzOe {
    border: 1px solid rgba(0,0,0,.26);
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
    color: rgba(0,0,0,.87);
    height: 28px;
    min-width: 0;
    padding: 4px 12px;
    white-space: nowrap
}

.FIxzOe,.W_MyuV {
    font-size: .875rem;
    line-height: 1.25rem
}

.PoI6l8,.sHEV0u {
    align-items: center
}

.U4E1nT,.wvmPZh {
    background-color: #fff
}

.JHMWU8 {
    background: 0 0;
    border: 0;
    color: #08f;
    outline: 0;
    padding: 4px;
    white-space: nowrap
}

.Xx6fjH {
    margin-top: 4px;
    flex-wrap: wrap
}

.CTpOx2:last-child {
    margin-right: 0
}

.TXhBWf {
    border-color: #ee4d2d;
    color: #ee4d2d
}

.CTpOx2 {
    margin: 0 4px 4px 0
}

.F4fNIN {
    border: .5px solid;
    border-radius: 1px;
    padding: 2px 4px
}

.rdiT_n {
    background-color: #fff8e4;
    border-radius: 2px;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: 16px;
    padding: 12px
}

.H6ESfz:disabled {
    cursor: not-allowed;
    opacity: .7
}

.xwB4_Q {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.qhS2mB {
    border-left: .5px solid rgba(0,0,0,.26);
    margin: 0 8px
}

.WZoJQT {
    color: rgba(0,0,0,.87);
    font-size: 1rem;
    line-height: 1.5rem
}

.sHEV0u {
    font-weight: 500;
    min-width: 0;
    display: inline-flex
}

.ighEpc {
    box-sizing: border-box;
    height: 500px;
    padding: 30px
}

.VMnhZp {
    height: 120px;
    width: 120px
}

.mXnBNJ {
    color: rgba(0,0,0,.65);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 16px;
    text-align: center
}

.ighEpc {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.MW1tmb {
    z-index: 1
}

.kCHJjO {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.54);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px
}

.wIas6d {
    align-items: center;
    display: flex;
    font-size: 20px
}

.iw9G90 {
    box-sizing: border-box;
    height: 480px;
    padding-top: 15px;
    position: relative
}

.ywcMBF {
    background: linear-gradient(rgba(255,255,255,.7),#fff);
    bottom: 0;
    height: 66px;
    left: 0;
    position: absolute;
    right: 0;
    justify-content: flex-end
}

.iw9G90,.kVdXbq,.ywcMBF {
    display: flex
}

.ywcMBF {
    align-items: flex-end
}

.bcANpb {
    color: #555
}

.YTQgFd {
    background-color: #ee4d2d;
    color: #fff
}

.H6ESfz {
    align-items: center;
    background: 0 0;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    justify-content: center;
    min-width: 140px;
    outline: 0;
    padding: 10px
}

.Jtjg1k {
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 66px;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.Xr8xK_ {
    background: #ee4d2d;
    border-color: #ee4d2d
}

.xc9vEZ {
    background: #e7e7e7;
    box-shadow: none
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.pAx8vO {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0
}

.LMtudf {
    cursor: no-drop;
    opacity: .35
}

.wbs7cU {
    align-items: center;
    color: rgba(0,0,0,.54);
    cursor: default;
    display: flex;
    margin-bottom: 12px;
    margin-left: 12px;
    max-width: 400px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.HC4FOK {
    outline: 0
}

.stardust-popover {
    position: relative
}

.F9wLgu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px
}

.SmrxGJ {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.DD5NYB {
    align-items: center;
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
    box-sizing: border-box;
    height: 40px;
    margin-right: 10px;
    max-width: 146px;
    padding: 0 12px
}

.DD5NYB,.GvyENc,.lg6PeL {
    display: flex
}

.GvyENc {
    align-items: center
}

.EILN_B {
    color: #555;
    margin-bottom: 8px;
    margin-right: 10px;
    flex-shrink: 0
}

.lg6PeL {
    margin-bottom: 20px;
    margin-top: 10px;
    flex-direction: column
}

.PedXLu {
    margin-right: 12px;
    fill: currentColor;
    height: 1em;
    width: 1em
}

.rxnJuz:disabled {
    cursor: not-allowed
}

.vbBNvk:disabled {
    background: #fff;
    color: #ccc
}

.q7rlUj {
    height: 100%;
    width: 100%
}

.hFrNuF.kz8c88 {
    cursor: not-allowed
}

.hFrNuF {
    cursor: pointer
}

.LrjFgN {
    height: 100%;
    position: absolute;
    width: 100%
}

.KphjqB {
    height: 120px;
    position: relative
}

.KphjqB,.kVdXbq {
    width: 100%
}

.R84wf2 {
    position: relative
}

.U1H1RL:disabled {
    color: #e7e7e7;
    -webkit-text-fill-color: #e7e7e7
}

.HdV_Xu {
    background: #fff;
    color: rgba(0,0,0,.4);
    display: none;
    font-size: 12px;
    left: 10px;
    padding: 0 3px;
    position: absolute;
    top: -6px
}

.M0zoO1 {
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
    box-sizing: border-box;
    height: fit-content;
    transition: border-color .3sease-in-out,box-shadow .3sease-in-out,background-color .3sease-in-out
}

.yieAcQ.yieAcQ {
    margin-bottom: 0
}

.DaO_Dq,.NG3cth,.YnMe7O,.a2EebN,.dWJRXB,.eAySiT {
    flex: 1
}

.XLrXHD,.iV3Z6O {
    margin-bottom: 15px
}

.XLrXHD {
    margin-top: 6px;
    position: relative
}

.iV3Z6O {
    width: 100%
}

._9e4NN {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,.4);
    height: 0;
    width: 0
}

.Qpe1cC,.iArpz0 {
    height: 16px;
    margin-right: 3px;
    width: 16px
}

.TXrHyw {
    padding-right: 9px
}

.TXrHyw,.mFptqQ {
    display: flex;
    align-items: center
}

.i_Re6w,.l_YP54 {
    color: #222
}

.sJc4LE {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    position: absolute;
    width: 1px
}

.EGOTSZ,.K4CR8U,.l_YP54 {
    box-sizing: border-box;
    flex: 1;
    padding: 10px
}

._k5NdB,.l_YP54::placeholder {
    color: #bbb
}

.K4CR8U {
    outline: 0;
    overflow-wrap: anywhere;
    word-break: normal
}

.mcozNA {
    background: #fff;
    color: rgba(0,0,0,.4);
    display: none;
    font-size: 12px;
    left: 10px;
    padding: 0 3px;
    position: absolute;
    top: -6px
}

.mFptqQ {
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
    box-sizing: border-box;
    min-height: 40px;
    transition: border-color .3sease-in-out,box-shadow .3sease-in-out,background-color .3sease-in-out
}

.mBAshD,.mFptqQ,.vslKKX {
    position: relative
}

.vslKKX {
    margin-top: 6px
}

.mBAshD {
    flex: 1;
    margin-bottom: 15px
}