.CAysXD {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative
}

.KzNULh {
    min-height: 595px
}

.hb4PvG {
    padding: 0 30px 10px
}

.A_JT4m {
    border-bottom: 1px solid #efefef;
    padding: 20px 0
}

.X1CGaZ {
    color: rgba(0,0,0,.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0
}

.vl3MQO {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 4px
}

.WCPTTM {
    padding-top: 25px;
    flex-direction: column
}

.W3TVhV {
    margin-bottom: 12px
}

.YxyuDT,YxyuDT {
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.02);
    box-sizing: border-box;
    height: 2.5rem;
    overflow: hidden;
    width: 100%
}

.rg6KSG,rg6KSG {
    align-self: flex-start
}

.A320is {
    height: 40px;
    align-items: center;
    display: flex
}

.y8JFc7 {
    color: rgba(0,0,0,.65);
    text-align: right
}

.boYWWk {
    min-width: 400px
}

.X0Jdtz,.px6VFi {
    border: 0;
    outline: 0
}

.X0Jdtz {
    filter: none;
    flex: 1;
    flex-shrink: 0;
    height: 16px;
    padding: .75rem
}

.px6VFi {
    background: 0 0;
    padding: 0 .9375rem 0 .75rem
}

.YxyuDT,.px6VFi {
    align-items: center;
    display: flex
}

.adOaXi {
    height: .625rem;
    padding-top: .375rem;
    width: 1.25rem
}

.K5FD1h {
    margin-top: 30px
}

.fAGxa7 {
    width: 800px
}

.WCPTTM,.fAGxa7 {
    align-items: center
}

.aba8P1 {
    width: 20%;
    justify-content: flex-end
}

.WCPTTM,.YvBKvJ,.aba8P1,.fAGxa7 {
    display: flex
}

.YvBKvJ {
    box-sizing: border-box;
    padding: 0 20px;
    width: 50%
}

.btn-solid-primary.btn-solid-primary--disabled {
    background: #facac0!important;
    box-shadow: none;
    cursor: not-allowed
}

btn-solid-primary {
    background: #ee4d2d;
    color: #fff;
    outline: 0;
    overflow: visible;
    position: relative
}

.btn--m {
    height: 40px;
    max-width: 220px;
    min-width: 70px;
    padding: 0 20px
}

.btn--inline {
    display: inline-flex
}

.QP9rgo {
    height: .75rem;
    width: 1.25rem
}