.lkwJtG {
    align-items: center;
    background-color: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    color: #f6a700;
    display: flex;
    margin-bottom: .75rem;
    overflow: visible;
    padding: 1rem 1.25rem
}

.xRnpg_ {
    height: 48px;
    margin-right: 14px;
    width: 48px
}

img {
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip
}

.YRMUSY {
    font-size: 2rem;
    margin-right: .625rem
}

.S2jaSi {
    font-size: 1rem;
    margin-right: -.625rem;
    padding-right: 20px
}

.F683nJ,.pbfywM {
    align-items: center;
    display: flex
}

.pbfywM {
    font-size: .875rem;
    font-weight: 300
}

.pbfywM>a,.z3kSK9 {
    color: #929292;
    -webkit-text-decoration: none;
    text-decoration: none
}

rEiraU {
    color: rgba(0,0,0,.54);
    font-size: .6875rem;
    margin-left: 7px
}

.z3kSK9 {
    align-items: center;
    color: rgba(0,0,0,.87);
    color: inherit;
    display: flex;
    flex: 1;
    font-size: 1rem;
    justify-content: flex-end
}

.n8307W {
    background-color: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    color: rgba(0,0,0,.8);
    font-size: .875rem;
    height: 37.5rem;
    overflow: hidden;
    text-align: center;
    width: 100%
}

.q_Ltjm {
    background-color: #ee4d2d;
    border-radius: .0625rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    padding: .625rem 1.125rem;
    -webkit-text-decoration: none;
    text-decoration: none
}

.n8307W p {
    margin-bottom: 1.875rem;
    margin-top: 10rem
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate
}

.MIs3RN,.mw4smb {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    overflow: hidden
}

.mw4smb {
    background: #fff;
    border-radius: .125rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    margin-bottom: .75rem
}

.Lmb8Qr {
    border-bottom: 2px solid #ee4d2d;
    color: #ee4d2d
}

.HtRjAY {
    color: rgba(0,0,0,.8);
    cursor: pointer;
    flex-grow: 1;
    font-size: 1rem;
    line-height: 1.1875rem;
    padding: 1rem 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.MfcbPl {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.09);
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding: 12px;
    -webkit-text-decoration: none;
    text-decoration: none
}

.YBwiJC {
    flex-grow: 1;
    padding: 0 .625rem;
    width: 6.25rem
}

.zs5dk4 {
    color: rgba(0,0,0,.8);
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all
}

.xX9jxJ {
    align-items: center;
    display: flex
}

.xX9jxJ,.zs5dk4 {
    margin-bottom: 4px
}

.A0xKoZ,.c4I_Je {
    color: rgba(0,0,0,.8);
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all
}

.A0xKoZ {
    color: rgba(0,0,0,.54)
}

.X5kf07 {
    color: #f6a700
}

.V4NzHd {
    float: right;
    font-size: 1.25rem;
    font-weight: 500;
    min-width: 5rem;
    padding: .625rem;
    text-align: right
}

.AsKLmj {
    background-color: #f5f5f5;
    margin-bottom: -.1875rem;
    margin-left: -.125rem;
    margin-right: -.125rem;
    padding-top: 1.25rem;
    text-align: center
}

.i8u9bH {
    color: rgba(0,0,0,.26);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem
}

.xabX6m {
    width: 100%
}

.MfcbPl .CQS6kv {
    background-size: cover;
    border: 1px solid #f5f5f5;
    flex-basis: 5rem;
    float: left;
    height: 5rem;
    min-width: 5rem
}

svg:not(:root) {
    overflow: hidden
}

.shopee-svg-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    position: relative
}