.tab-bar {
  background: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: flex;
  margin-bottom: 12px;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.tab-item {
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: 16px;
  justify-content: center;
  padding: 16px 0px;
  text-align: center;
}

.tab-item:hover {
  color: #ee4d2d;
}

.search-bar {
  align-items: center;
  background: #eaeaea;
  display: flex;
  padding: 12px 0;
}

.search-bar > svg {
  margin: 0 15px;
  stroke: #bbb;
}

.search-bar > input {
  flex: 1 1 0%;
  font-size: 14px;
  line-height: 16px;
  /* word-break: break-all */
}

input,
input:active,
input:focus {
  outline: 0;
}

.no-order-img {
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/orderlist/5fafbb923393b712b964.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
}

.order-card:first-child {
  padding-top: 24px;
}

.order-card {
  background: #fff;
  padding: 12px 24px;
}

.shop-name {
  font-size: 14px;
  font-weight: 600;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0 8px;
}

.chat-btn,
.shop-btn {
  margin: 0 0 0 8px;
}

.ship-success-icon {
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  margin: 0 10px 0 0;
  padding: 0 5px 0 0;
  text-align: right;
}

.ship-success-icon .shopee-drawer {
  display: inline-flex;
  margin: 0 0 0 6px;
  vertical-align: middle;
}

.ship-success-icon {
  vertical-align: middle;
}

.shop-order-container:first-child {
  border: 0;
  margin: 0;
}

.shop-order-container {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  margin: 10px 0 0;
}

.product-img-container {
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  flex-shrink: 0;
  height: 80px;
  width: 80px;
}

.before-sale {
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  color: #000;
  margin: 0 4px 0 0;
  opacity: 0.26;
  overflow: hidden;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  text-overflow: ellipsis;
}

.after-sale {
  color: #ee4d2d;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
}

.dotted-line {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.09);
  height: 0;
  position: relative;
  width: 100%;
}

.dotted-line > .dot {
  background: #f5f5f5;
  border-radius: 50%;
  box-sizing: border-box;
  height: 0.4375rem;
  position: absolute;
  top: 0;
  width: 0.4375rem;
  z-index: 1;
}

.shopee-drawer {
  display: flex;
  outline: 0;
  overflow: visible;
  display: inline-flex;
  position: relative;
}

.btns:not(.stardust-button-primary) {
  border: 1px solid rgba(0, 0, 0, 0.09);
  color: #555;
}

.btns {
  border-radius: 2px;
  min-height: 40px;
  min-width: 150px;
  outline: 0;
  overflow: hidden;
  padding: 8px 20px;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.btn-row-btn {
  align-items: center;
  display: flex;
  margin: 0 0 0 10px;
  text-overflow: ellipsis;
}

.chat-btn.stardust-button,
.shop-btn > .stardust-button {
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 12px;
  outline: 0;
  padding: 4px 8px;
  text-transform: capitalize;
}

.stardust-button {
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.26) !important;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87) !important;
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
}

.stardust-button-primary {
  background-color: #ee4d2d !important;
  border-color: #cd3011 !important;
  color: #fff !important;
}
