.IrZf_8 {
    background-color: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    min-height: 100%;
    overflow: hidden
}

.IrZf_8,.WCqjEJ {
    flex-direction: column
}

.O0Qwe1 {
    border-bottom: 1px solid rgba(0,0,0,.09);
    font-size: .875rem;
    font-weight: 300;
    height: 2.5rem;
    padding: 0 1.25rem;
    justify-content: space-between
}

.IrZf_8,.O0Qwe1,.WCqjEJ {
    display: flex
}

.O0Qwe1 {
    align-items: center
}

.hlJVPd {
    background: 0 0;
    border: 0;
    margin-left: auto;
    margin-right: 0;
    padding: 0
}

.hlJVPd,.nbmwwx {
    color: rgba(0,0,0,.8)
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button,select {
    text-transform: none
}

.ggKF5j .stardust-dropdown__item-body,button {
    overflow: visible
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.bLXN8X {
    background-color: #fff2ee
}

.TMxIaH {
    -webkit-user-select: none;
    -moz-user-select: none
}

.GW05Oq,.aSYeAd {
    margin-right: 1.25rem
}

.aSYeAd {
    height: 5rem;
    width: 5rem
}

.C1ZEAN {
    background-color: #f5f5f5;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center
}

.zMNsnB {
    background-color: #fff;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-flow: wrap-reverse
}

.tbYkBd,.zMNsnB {
    display: flex
}

.p6GcuN {
    height: 50%;
    width: 50%;
    align-self: center
}

.S5e_vG {
    height: 100%;
    width: 100%
}

.H9A7A1 {
    color: rgba(0,0,0,.26);
    cursor: default
}

user agent stylesheet h1,user agent stylesheet p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate
}

.stardust-dropdown {
    position: relative
}

.GcTO7X {
    padding: 1.25rem
}

.stardust-dropdown__item-body--open {
    height: auto
}

.stardust-dropdown__item-body {
    transition: height .4s cubic-bezier(.4,0,.2,1),opacity .4s cubic-bezier(.4,0,.2,1)
}

.OJq78J {
    padding: 1.25rem
}

.TMxIaH {
    cursor: pointer;
    user-select: none
}

.C1ZEAN,.TMxIaH {
    display: flex
}

.ldHyQb {
    margin-right: 1.25rem;
    overflow: visible;
    position: relative;
    width: 5rem
}

.OJq78J,.ldHyQb {
    background-color: #f8f8f8
}

.BrFYFT {
    top: -2.5rem
}

.vwKthw {
    margin-right: .625rem
}

.mrSRRw,.x5N6B_ {
    color: rgba(0,0,0,.54)
}

.x5N6B_ {
    word-wrap: break-word
}

.mrSRRw {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .625rem;
    margin-top: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

user agent stylesheet h1 {
    margin-block-start: .67em;
    margin-block-end: .67em
}

.OvS3IX,.OyEsaQ {
    font-size: .875rem
}

.OvS3IX {
    color: rgba(0,0,0,.54);
    line-height: 1;
    margin: 0 .625rem 0 0
}

.OyEsaQ {
    margin-bottom: .3125rem
}

.BrFYFT:after {
    top: 2.8125rem
}

.Z9bROs:after {
    background-color: #e2e2e2;
    border-radius: 50%;
    content: " ";
    height: .5rem;
    left: -.25rem;
    position: absolute;
    top: 1.5625rem;
    width: .5rem
}

.Z9bROs {
    background: rgba(0,0,0,.09);
    bottom: -1.25rem;
    left: 2.5rem;
    position: absolute;
    top: -1.25rem;
    width: .0625rem
}

.uam1qn:hover {
    border-color: #ee4d2d;
    color: #ee4d2d
}

._fxJ8_ {
    border: 1px solid rgba(0,0,0,.09);
    color: rgba(0,0,0,.8)
}

.uam1qn {
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    flex-shrink: 0;
    font-size: .75rem;
    font-weight: 300;
    height: 1.875rem;
    min-width: 5rem;
    outline: 0;
    padding: 0 .4375rem;
    text-transform: capitalize
}

.H9A7A1,.fGqoBg,.uam1qn {
    margin-left: auto
}

.fGqoBg {
    flex-shrink: 0
}

.b9mXmi {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center
}

.hpnUjt {
    position: relative
}

.hpnUjt img {
    vertical-align: bottom
}

.gdRhxs {
    height: 6.25rem;
    width: 6.25rem
}

.lI6EAf {
    opacity: 1;
    transition: opacity .2s ease
}