.LPQWko {
    padding: 20px 28px
}

.P6L8Hs {
    border-bottom: 1px solid rgba(0,0,0,.09);
    color: rgba(0,0,0,.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 20px 0
}

.bwZlGe {
    color: rgba(0,0,0,.65);
    margin-top: 20px
}

.JirkjZ {
    margin: 10px 0 20px
}

.JirkjZ,.vFfoF7 {
    color: rgba(0,0,0,.65);
    padding-left: 30px
}

.zfuDOD {
    background-color: #ee4d2d;
    color: #fff
}

.Kh0CNz {
    height: 2.5rem;
    min-width: 8.75rem
}

.At8WCe {
    border: 0;
    border-radius: .125rem;
    outline: 0;
    padding: 0 .625rem
}

.Kh0CNz,.YizJLs {
    justify-content: center
}

.YizJLs {
    align-items: center;
    display: flex
}

.mw9Atq {
    margin: 4px 0
}

.vvfL40 {
    padding: 20px 28px
}

.xDoUO6 {
    border-bottom: 1px solid rgba(0,0,0,.09);
    margin-bottom: 12px;
    padding-bottom: 20px
}

.DV7dNx {
    color: rgba(0,0,0,.87);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem
}

.u1uzIg:first-child {
    margin-top: 0
}

.AuGF7S {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.Mk0PuA {
    color: rgba(0,0,0,.87);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 4px
}

.BfRa4M {
    color: rgba(0,0,0,.54);
    font-size: .875rem;
    line-height: 1.25rem
}

.Z77qH5 {
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgba(0,0,0,.09);
    color: #fff
}

.OTkbB4 {
    height: 40px;
    min-width: 140px
}

.h8fA8B {
    border: 0;
    border-radius: 2px;
    outline: 0;
    padding: 0 10px
}

.OTkbB4,.XICjC3 {
    justify-content: center
}

.XICjC3 {
    align-items: center;
    display: flex
}