.user-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.profile-title {
  color: #333;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0;
  text-transform: capitalize;
}

.form-label {
  color: rgba(85, 85, 85, 0.8);
  min-width: 20%;
  overflow: hidden;
  text-align: right;
  align-items: center !important;
}

.form-info-input {
  display: flex;
  align-items: center !important;
}

.form-input-enable {
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
  overflow: hidden;
  width: 70%;
  padding: 12px;
}

.form-input-enable:focus {
  border: 1px solid #fd5725;
  box-shadow: 0 2px 0 rgba(253, 87, 37, 0.2);
}

.change-button {
  color: #ee4d2d !important;
  font-size: 0.8125rem;
  text-transform: capitalize;
}

.avatar-container,
.avatar-show {
  justify-content: center;
  display: flex;
}

.avatar-container {
  border-left: 0.0625rem solid #efefef;
  width: 30%;
}

.avatar-show {
  height: 6.25rem;
  margin: 1.25rem 0;
  position: relative;
  width: 6.25rem;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.btn-light,
.btn-solid-primary {
  outline: 0;
  overflow: visible;
  position: relative;
}

.btn-light {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  color: #555;
}

.btn-solid-primary {
  background: #ee4d2d;
  border-radius: 2px;
  color: #fff;
}

.btn {
  cursor: pointer;
  justify-content: center;
  text-transform: capitalize;
  padding: 10px 40px;
}

.btn-light:active,
.btn-light:hover {
  background: rgba(0, 0, 0, 0.02);
}

.btn,
.radio-group,
.radio-label {
  display: flex;
  align-items: center;
}

.radio-group {
  gap: 15px;
}

.radio-label {
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.radio-input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ee4d2d;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  cursor: pointer;
}

.radio-input:checked {
  /* background-color: #ee4d2d;  */
  border-color: #ee4d2d;
}

.radio-input:checked::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ee4d2d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date-picker {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
}

.date-picker:focus {
  border-color: #ee4d2d;
  box-shadow: 0 0 5px rgba(255, 98, 0, 0.5);
}

