button {
  /* background-color: aqua; */
}
input,
select,
option {
  background-color: white;
  color: #000;
  /* border: 1px solid gray; */
}
input:focus {
  outline: 1px solid #ee4d2d;
}
.selected-voucher {
  border: 1px solid #ee4d2d;
  background-color: white;
}
.not-selected-voucher {
  background-color: white;
}
.triangle-bg {
  width: 1.5rem; /* Adjust size */
  height: 1.5rem; /* Keep it a square */
  background-color: #ee4d2d; /* Change color */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.voucher-manage-menu {
  margin-top: 14px;
}

.voucher-manage-menu .stardust-tabs-header {
  border-bottom: 1px solid #efefef;
  height: 46px;
}

.voucher-manage-menu .stardust-tabs-header__tab--active {
  color: #ee4d2d;
}

.voucher-manage-menu .stardust-tabs-header__tab {
  color: #555;
  flex-grow: 0;
  font-size: 1rem;
  padding: 0 2.75rem;
}

.stardust-tabs-header__tab {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1 0 auto;
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  user-select: none;
}

.stardust-tabs-header__tab-indicator {
  background: #ee4d2d;
  bottom: 0;
  height: 2px;
  position: absolute;
  display: block;
  width: 150px;
  /* transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); */
}
